# --- C++ / Build ---
build/
bin/
out/
*.exe
*.o
*.obj

# --- Python / Virtual Env ---
.venv/
venv/
__pycache__/
*.pyc
build/
dist/
*.spec

# --- IDE (VS Code) ---
.vscode/
.history/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- random files ---
*.xlsx
Command stuff.txt

# --- resourses folder
resources/*
!resources/excel_decryption.py